a.logo {
    position: relative;
    display: inline-block;
}
a.logo:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}
#top_heading {
    font-family: sans-serif;
    font-size: 34px;
    color: #cb913f;
    position: absolute;
    top: -2px;
    left: 72px;
    width: 100%;
    white-space:nowrap
}
#btm_heading {
    font-family: sans-serif;
    font-size: 24px;
    color: #99633c;
    position: absolute;
    left: 87px;
    top: 38px;
    width: 100%;
    white-space:nowrap
}
.logo {
    text-decoration: none;
}
.profile_pic {
    filter: grayscale(0.25);
   /* desaturate profile_pic a little bit */
}
.build_status {
    filter: grayscale(0.35);
   /* desaturate the build status */
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin-top: 1em;
    text-align: left;
}
h1 {
    font-size: 110%;
    margin-bottom: 1em;
}
body {
    background-color: white;
    color: #000;
    font-size: 0.9em;
    font-family: sans-serif,helvetica;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.logo_header {
    margin-bottom: 25px;
}
.left {
    float: left;
    width: 325px;
    height: 100vh;
    position:fixed;
    top: 0px;
    left:0px;
    text-align:left;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #2d2d2d;
    border-right: 3px solid #000;
    color: #C3BEA8;
    z-index: 100;
}
.left > strong {
    font-size: 1.4em;
    margin-left: .8em;
}
.left > ul {
    list-style-type: none;
    margin-left:0;
    padding-left: 3em;
    margin-top: 1.75em;
}
.left > ul > li {
    margin-top: .7em;
}
.navlink {
    color:#C3BEA8;
    background-color:#444b50;
    text-align:left;
    text-decoration:none;
    text-transform:uppercase;
    display: block;
    width: 240px;
    margin-left: -1em;
    padding-left: 1.75em;
    padding-top: .65em;
    padding-bottom: .65em;
    margin-top: .5em;
    margin-bottom: .5em;
    vertical-align: middle;
}
.navicon {
    color:#C3BEA8 !important;
    margin-right: 0.5em;
}
.navlink:hover {
    background-color:#57482A;
    color:#C3BEA8;
}
.navlink:visited {
    color:#C3BEA8;
}
h2 {
    text-align: left;
    margin: 0;
    padding: 0.6em 2em 0.6em;
    padding-left: 0em;
    color: #000000;
    font-weight: normal;
    font-size: 1.5em;
}
p {
    text-align: left;
    margin: 1em 0;
    padding: 0.4em 1em 0.3em;
    padding-left: 0em;
    color: #000000;
    font-weight: normal;
    font-size: 1.2em;
}
h1 strong {
    font-weight: bold;
}
.logo > object > img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background: url(me.jpg) no-repeat;
    margin-top: -.1em;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    vertical-align: middle;
}
.footer {
    color: #6C6864;
    font: 16px helvetica, arial, clean, sans-serif;
    margin-left: 3.4em;
}
.footer > a {
    color: #6C6864;
    text-decoration: none;
}
.pagecontent {
    position:absolute;
    margin-left: 365px;
    margin-right: 30px;
    padding-left: 0;
    line-height: 1.5em;
    top: 20px;
}
blockquote {
    margin-left:1em;
}
::selection {
    color: white;
    background-color: #369;
}
.site {
    font-size: 110%;
    text-align: justify;
    width: 100%;
}
.comments {
    text-align: left;
}
.title {
    color: #369;
    font-weight: bold;
    margin-bottom: 2em;
}
.site .title a {
    color: #369;
    text-decoration: none;
}
.site .title a:hover {
    color: black;
}
.site .meta {
    color: #aaa;
}
.site .blogfooter {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}
.site .blogfooter .contact {
    float: left;
    margin-right: 3em;
}
.site .blogfooter .contact a, .site .blogfooter .rss a {
    color: #8085C1;
}
.site .blogfooter .rss {
    margin-top: 1.1em;
    margin-right: 0em;
    float: right;
}
#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
#post ul, #post ol {
    margin-left: 1.35em;
}
#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
}
#post pre code {
    border: none;
}
#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}
#post pre.terminal code {
    background-color: #333;
}
#related {
    margin-top: 2em;
}
#related h2 {
    margin-bottom: 1em;
}
ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}
ul.posts li {
    line-height: 1.75em;
}
ul.posts span {
    color: #aaa;
    font-size: 80%;
}
ul.posts a {
    text-align: left;
}
