stages:
  - deploy

pages:
  image: node:latest
  stage: deploy
  script:
    - npm install -g vuepress
    - vuepress build
    - find .
    - mkdir public
    - mv .vuepress/dist/* public
  artifacts:
    paths:
    - public
