stages:
  - deploy

pages:
  image: node:22-alpine
  stage: deploy
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - .cache/
  script:
    - npm ci
    - npm run build
    - mv .vitepress/dist public
  artifacts:
    paths:
      - public
