stages:
  - deploy

pages:
  image: node:latest
  stage: deploy
  script:
    - npm install
    - npm run build
    - mkdir -p public
    - cp -r .vitepress/dist/* public/
    - find public -type f
  artifacts:
    paths:
    - public