stages:
  - build_blog
  - deploy

build_blog:
  image: jekyll/jekyll:latest
  stage: build_blog
  script:
    - gem install jekyll jekyll-feed jekyll-sass-converter liquid colorator kramdown mercenary rouge safe_yaml
    - cd ./blog-source/
    - bundle exec jekyll build
    - cd ../blog/
    - find . -name "*.html" -exec sh -c 'cat "$1" > "${1%.html}.md"' _ {} \;
    - sed -i -e 's/^[ \t]*//' index.md
    - sed -i 's/<h1>Blog Posts<\/h1>/## Blog Posts/g' index.md
  artifacts:
    paths:
    - blog

pages:
  image: node:latest
  stage: deploy
  dependencies:
    - build_blog
  script:
    - npm install -g vuepress
    - vuepress build
    - mkdir public
    - mv .vuepress/dist/* public
    - find .
  artifacts:
    paths:
    - public
