stages:
  - build_blog
  - deploy

build_blog:
  image: ruby:2.4
  stage: build_blog
  script:
    - gem install jekyll jekyll-feed jekyll-sass-converter liquid colorator kramdown mercenary rouge safe_yaml
    - cd ./blog-source/
    - bundle exec jekyll build
    - cd ../blog/
    - find . -name "*.html" -exec sh -c 'cat "$1" > "${1%.html}.md"' _ {} \;
  artifacts:
    paths:
    - blog

pages:
  image: node:latest
  stage: deploy
  dependencies:
    - build_blog
  script:
    - sed -i -e 's/^[ \t]*//' blog/index.md
    - sed -i -e 's/<h1>Blog Posts</h1>/# Blog Posts/g' blog/index.md
    - npm install -g vuepress
    - vuepress build
    - mkdir public
    - mv .vuepress/dist/* public
    - find .
  artifacts:
    paths:
    - public
