variables:
  JEKYLL_ENV: production
  LC_ALL: C.UTF-8

stages:
  - build_website
  - build_blog
  - deploy

build_website:
  image: python:3
  stage: build_website
  script:
    - python build_site.py
    - cp -v interface/* blog/_includes/
  artifacts:
    paths:
    - .

build_blog:
  image: ruby:2.4
  stage: build_blog
  script:
    - gem install jekyll jekyll-feed jekyll-sass-converter liquid colorator kramdown mercenary rouge safe_yaml
    - cd ./blog/
    - bundle exec jekyll build
  dependencies:
    - build_website
  artifacts:
    paths:
    - .

pages:
  stage: deploy
  dependencies:
    - build_blog
  script:
    - temp=$(mktemp -d)
    - mv * $temp/
    - mkdir public
    - mv $temp/* public
  artifacts:
    paths:
    - .
  only:
  - master
