a.svg {
  position: relative;
  display: inline-block; 
}
a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
body {
        background-color: #fff;
        color: #000;
        font-size: 0.9em;
        font-family: sans-serif,helvetica;
        margin: 0;
        padding: 0;
	overflow-x: hidden;

}
.header {
	position:fixed;
	top:0;
	left:0;
        text-align: left;
        vertical-align: text-top;
        margin: 0;
        margin-bottom: 1em;
        padding: 0.35em 0em 0.2em;
        padding-left: 0.6em;
        background-color: #34444F;
        border-bottom: 3px solid #000;
        color: #E89C2E;
        font-weight: normal;
        font-size: 2.5em;
	width: 100%;
	z-index: 50;
}
.left {
	float: left; 
	width: 15vw;
	height: 100vh;
	position:fixed;
	top:6.45em;
	left:0;
	display: block;
	margin-right: 1.5em;
	text-align:left;
	padding-top: 3vh;
	padding-left: 2vw;
	background-color: #34444F;
        border-right: 3px solid #000;
	color: #00C9FF;
	z-index: 100;
}
.left > strong {
	font-size: 1.1em;
}
.left > ul {
	list-style-type: none; margin-left:0; padding-left: 1.25vw;
}

.navlink {
	color:#00C9FF;
	background-color:#315B66;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	display: block;
	width: 12vw;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
        vertical-align: middle;
}
.navlink:hover {
	background-color:#0B5B70;
	color:#00C9FF;
}
.navlink:visited {
	color:#00C9FF;
}
h2 {
        text-align: left;
        margin: 0;
        padding: 0.6em 2em 0.6em;
        padding-left: 1em;
        color: #000000;
        font-weight: normal;
        font-size: 1.5em;
}
p {
        text-align: left;
        margin: 0;
        padding: 0.4em 1em 0.3em;
        padding-left: 1.8em;
        color: #000000;
        font-weight: normal;
        font-size: 1.2em;
}
h1 strong {
        font-weight: bold;
}
.svg > object > img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background: url(me.jpg) no-repeat;
    margin-top: -.1em;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    vertical-align: middle;
}
.footer {
	color: #56757D;
	font: 13.34px helvetica, arial, clean, sans-serif;
}
.pagecontent {
	position:absolute;
	margin-left: 17vw;
	padding-left: 2vw;
	top: 6.45em;
	width: 85vw;
	z-index: 100;
}
