<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="/css/normalize.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="/css/share-bar.css" rel="stylesheet" type="text/css">
<link rel="icon" href="/images/favicon.png">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
<meta name="author" content="Dylan Taylor" />
