:root {
    --vp-c-brand-1: var(--vp-c-yellow-1);
    --vp-c-brand-2: var(--vp-c-yellow-2);
    --vp-c-brand-3: var(--vp-c-yellow-3);
    --vp-c-brand-soft: var(--vp-c-indigo-soft);

    --vp-nav-logo-height: 48px;
    --vp-nav-bg-color: #2d2d2d;
    --bt-theme-title: #fff;
}

/* Layout */

.Layout {
    min-height: calc(100vh - 78px) !important;
}

.VPDoc {
    padding-top: 10px !important;
}

.container {
    max-width: 60rem !important;
}

.VPContent .container {
    display: block !important;
    position: relative;
}

@media (min-width: 960px) {
    .VPDoc:not(.has-sidebar) .content {
        max-width: inherit !important;
    }

    .content {
        padding: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .VPDoc {
        padding-bottom: 20px !important;
    }

    .vp-doc h1 {
        font-size: 1.25rem !important;
    }

    .posts {
        padding: 4px;
    }

    .post-dot {
        margin-right: 4px;
    }

    .post-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 16.5em;
    }
}

/* Typography */

.vp-doc a {
    color: var(--vp-c-text-1);
    font-weight: 500;
    text-decoration: none;
}

.vp-doc p {
    font-size: 0.9375rem;
}

.VPNavBarTitle .title {
    font-size: 1.5rem !important;
    letter-spacing: 1px;
    font-weight: 600 !important;
    font-family: Optima, sans-serif !important;
}

.VPNavBarTitle .title a {
    color: #D4CFC0 !important;
}

a[rel~='noreferrer']:visited {
    color: var(--vp-c-brand);
    font-weight: 500 !important;
}

.content a[rel~='noreferrer']:hover {
    color: #888;
}

.vp-doc h1 {
    font-size: 1.375rem !important;
    font-weight: 500 !important;
    padding-top: 14px;
}

.vp-doc h2 {
    font-size: 1.125rem !important;
    font-weight: 500 !important;
    border-bottom: 1px solid var(--vp-c-divider-light);
    border-top: none !important;
    margin: inherit !important;
}

.vp-doc h3 {
    font-size: 1rem !important;
    font-weight: 500 !important;
}

a.header-anchor {
    display: none;
}

/* Navigation */

.VPNav {
    background-color: #2d2d2d !important;
    border-bottom: solid #99633c 2px !important;
}

.VPNav a {
    color: #C3BEA8 !important;
}

.VPNavBarMenu a:hover {
    color: #ddd !important;
    text-decoration-color: #da8541 !important;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

/* Posts list */

.posts {
    padding: 4px 0 4px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-dot {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--vp-c-brand);
}

.post-container {
    color: var(--vp-c-text-1);
    font-size: 0.9375rem;
    font-weight: 400;
}

.post-container:hover {
    color: var(--vp-c-brand);
}

.date {
    color: var(--vp-c-text-2);
    font-family: Georgia, sans-serif;
}

.post-info {
    font-size: 12px;
}

/* Footer */

.VPFooter .message {
    color: #666666;
}
