	<div class="pagecontent" id="pagecontent">
		<div class="site">
			<div class="title"><h2><a href="{{ site.baseurl }}");'>My Personal Blog</a></h2></div>
			<div class="subtitle">A technology blog with updates about my projects, <br/>as well as interesting tricks, tips, news, and tutorials.</div>
			{{ content }}
			<div class="blogfooter">
				<div class="contact">
					<p>
						Dylan Taylor<br/>
						Software Engineer<br/>
					</p>
				</div>
				<div class="contact">
					<p>
						<a href="https://dylanmtaylor.com/">dylanmtaylor.com</a><br/>
						<a href="https://gitlab.com/dylanmtaylor/">gitlab.com/dylanmtaylor</a><br />
					</p>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.0.1/instantclick.min.js" data-no-instant></script>
	<script data-no-instant>InstantClick.init();</script>
