.navbar {
  background-color: #2d2d2d;
  color: $accentColor;
}

.links {
  background-color: #2d2d2d !important;
  color: #C3BEA8 !important;
}

.nav-links a:hover, .nav-links a.router-link-active {
  color: #FFFFFF !important;
}

.search-box {
  display: none !important;
}

.navbar .site-name {
  color: #FFFFFF !important;
}

.sidebar .nav-links {
  background-color: #2d2d2d !important;
  color: #C3BEA8 !important;
}

a.header-anchor {
  display: none;
}